<!DOCTYPE html>
<html>
    <head>
        <title>{{htitle}}</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
         <center>
        <div clas="main-content"></div>
        {{>header}}
       <h2>404 | Page Not Found</h2>
        </center>
       </div>
        {{>footer}}
       
    </body>
</html>