<!DOCTYPE html>
<html>
    <head>
        <title>{{htitle}}</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <v class="main-content">
         <div>
        {{>header}}
       <h2>Help Artical Not Found</h2>
       </center>
        </div>
        {{>footer}}
        
    </body>
</html>