<!DOCTYPE html>
<html>
    <head>
        <title>{{htitle}}</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <div clas="main-content">
        {{>header}}
        <p>Some help text</p>
        </div>
        
        {{>footer}}

    </body>
</html>